
<div class="trialpartWrapper" style="text-align: left;">
	<p><b>Welcome!</b></p>
	<p>We describe things about the world using sentences, but at the same time many of our sentences also express our own opinions about the situation we're describing. For instance, some sentences sound sarcastic or negative, while other sentences have a more positive tone to them.</p>

	<p>In this experiment you will be listening to a series of sentences. After each sentence, you will be asked your impression of whether the sentence sounded positive or negative. You will do this with a rating that expresses how negative or how positive you perceive the sentence to be. Simply answer according to what you think is the most natural interpretation of the sentence.</p>

	<p>As this is a listening task, we ask that you complete the experiment using headphones, and do so in an area free of distractions.</p>

	<p>Please complete the experiment in one session: Do not do something else and then later return to complete the experiment. And, please do not use the "back" button on your browser, as it will erase your progress. The experiment should only take around 15 minutes.</p>

	<p>If at any time you wish to end your participation early, please close your browser window. If you do so, you will not be compensated for your time.</p>

	<p>To begin the experiment, click "Next."</p>

	<%= continueButton("Next") %>
</div>
