
<div class="trialpartWrapper" style="text-align: left;">
	<p><b>Welcome!</b></p>
	<p>Most of the time when we are speaking with someone, our responses sound completely natural; they make sense given what was said, and don't directly contradict the other person. However, sometimes people respond with sentences that don't fit into the conversation very well. These sentences sound weird or unnatural to us.</p>

	<p>In this experiment you will read a couple sentences about a person or object, and then listen to someone say something about that person or object. Using the buttons that appear after you listen to the sentence, rate how natural or unnatural the response is.</p>

	<p>As this is a listening task, we ask that you complete the experiment using headphones, and do so in an area free of distractions.</p>

	<p>Please complete the experiment in one session: Do not do something else and then later return to complete the experiment. Also, please do not use the "back" button on your browser, as it will erase your progress. The experiment should take around 30 minutes.</p>

	<p>If at any time you wish to end your participation early, please close your browser window. If you do so, you will not be compensated for your time.</p>

	<p>When the experiment has finished, you will be provided with a survey code. Please copy and paste this code into the area on Amazon Mechnical Turk that asks for the code.</p>

	<p>To begin the experiment, click "Next."</p>

	<%= continueButton("Next") %>

</div>
