<div style="text-align: left;">

<p><center><b>You're finished!</b></center></p>

<p>Thank you for your time and effort! The survey code is</p>

<center><b>7234818</b></center>

<p>You <b>must</b> enter this code into the "survey code" box on Amazon Mechanical Turk in order to get compensated. After you have entered the code, you may close this window.
</p>

<hr/>

<p>Once again, thank you for your participation. Your answers will help us better understand how positive and negative bias are expressed in language. If you would like a copy of the results when they are published, or have any questions about the experiment, please contact Dr. Curtis Anderson:</p>

<p>
	Dr. Curtis Anderson<br/>
	DFG CRC 991<br/>
	Heinrich-Heine-Universität Düsseldorf<br/>
	Universitätstraße 1<br/>
	40225 Düsseldorf<br/>
	Germany<br/>
	<a href="mailto:andersc@hhu.de">andersc@hhu.de</a>
</p>

</div>
