<div class="trialpartWrapper" style="text-align: left;">
<p><b>Practice</b></p>
  <p>Good! This concludes the practice. Please click the button below to continue to the experiment.</p>

  <%= continueButton("      Let's go!      ") %>
</div>
