<div class="trialpartWrapper" style="text-align: left;">
	<p><b>Experiment in progress</b></p>

	<input type="hidden" name="correctAnswer" value="<%= answer %>">

	<p>What is <%= question %>?</p>

	<%= makeScale({buttons: ["1","2","3","4","5","6","7"], rightAnswer: answer, feedbackID: "#feedback", feedbackWrong: "Sorry, RIGHTANSWER was the correct answer. Pay more attention next time.", feedbackRight: "Good! RIGHTANSWER was the correct answer."}) %>

	<div id="feedback" style="padding:30px;"></div>
</div>

<div class="trialpartWrapper" style="text-align: left;">
	<%= continueButton("   Continue the experiment   ") %>
</div>
