
<div class="trialpartWrapper" style="text-align: left;">
	<p><b>Welcome!</b></p>
	<p>In this experiment you will be listening to a series of sentences and be asked to make judgements about the sentence. Listen to each sentence carefully, and then answer the question you are presented with using the scale that is provided. For most questions, there is no right or wrong answer; answer according to what you think seems most natural.</p>

	<p>As this is a listening task, we ask that you complete the experiment using headphones, and do so in an area free of distractions.</p>
	
	<p>Finally, please complete the experiment in one session; do not do something else and then later return to complete it. Please do not use the "back" button on your browser, as it will erase your progress. The experiment should take around 15 minutes.</p>

	<p>If at any time you wish to end your participation early, please close your browser window.</p>

	<p>To begin the experiment, click "Next."</p>

	<%= continueButton("Next") %>
</div>
